@using Codeer.LowCode.Bindings.MudBlazor.Internal
@using Codeer.LowCode.Blazor.OperatingModel
@using Codeer.LowCode.Bindings.MudBlazor.Internal.Components
@inherits MudFieldComponentBase<DateField, MudDateFieldDesign>

<div class="d-flex align-items-center">
  <InternalMudDatePicker @bind-Value:get="@MoreThanValue" @bind-Value:set="@OnMoreThanChanged"
                         Variant="MudDesign.Variant" Color="MudDesign.Color" StandardInput="MudDesign.StandardInput"
                         data-search-target="min"/>
  <span>～</span>
  <InternalMudDatePicker @bind-Value:get="@LessThanValue" @bind-Value:set="@OnLessThanChanged"
                         Variant="MudDesign.Variant" Color="MudDesign.Color" StandardInput="MudDesign.StandardInput"
                         data-search-target="max"/>
</div>

@code {

  private DateOnly? LessThanValue => Field.SearchMax;
  private DateOnly? MoreThanValue => Field.SearchMin;

  private async Task OnLessThanChanged(DateOnly? value) {
    await Field.SetSearchMaxAsync(value);
  }

  private async Task OnMoreThanChanged(DateOnly? value) {
    await Field.SetSearchMinAsync(value);
  }

}